.random-planet {
    display: flex;
    padding: 1rem;
}

.spinner {
    margin-left: 100px;
}

.random-planet .planet-image {
    width: 150px;
    height: 200;
    border-radius: 10px;
    margin-right: 1px;
}

.random-planet .list-group {
    margin: 1rem 0 0 1rem;
}

.random-planet .planet-name {
    margin: 0.25rem 0 0 1rem;
}
  
.random-planet .list-group-item {
    padding: 0.25rem;
}
  
.random-planet .list-group-item .term {
    margin-right: 1rem;
    color: #4ca08b;
}